<%= form_with(model: @micropost, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <div class="field">
        <%= f.text_area :content, placeholder: "Compose new micropost..." %>
    </div>
    
    <span class="image">
        <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
    </span>

    <%= f.submit "Post", class: "btn btn-primary" %>
    

<% end %>

<script type="text/javascript">
    $("#micropost_image").bind("change", function() {
        const size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert("Maximum file size is 5MB. Please choose a smaller file.");
            $("#micropost_image").val("");
        }
    });
</script>