<li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="content"><%= micropost.content %></span>
    <%= image_tag micropost.display_image if micropost.image.attached? %>

    <span class="timestamp">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        <% if current_user?(micropost.user) %>
            <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
    </span> 

    <%= form_with(model: @likes, url: likes_show_url, local: true, class: "share") do |f| %>
            <%= hidden_field_tag :id, micropost.id %>
            <%= button_tag( :type => "submit" ) do %>
                <%= pluralize(micropost.likes.count, "Like") %>
            <% end %>
    <% end %>


    <% if !current_user?(micropost.user) %>
        <%= form_with(model: @micropost, url: microposts_share_path, local: true, class: "share") do |f| %>
            <%= hidden_field_tag :id, micropost.id %>
            <%= button_tag( :type => "submit" ) do %>
                <i class="fa-solid fa-share"></i>
            <% end %>
        <% end %>

        <%= form_with(model: @like, url: likes_url, local: false, class: "like") do |f| %>
            <%= hidden_field_tag :id, micropost.id %>
            <%= button_tag( :type => "submit" ) do %>

                <% if current_user.likes.find_by(micropost: micropost.id).nil? %>
                    <i class="fa-solid fa-heart"></i>
                <% else %>
                    <i class="fa-solid fa-heart red"></i>
                <% end %>
            <% end %>
        <% end %>

    <% end %>
    
        
</li>